                                * {
                                    box-sizing: border-box;
                                }
                                
                                body {
                                    margin: 0;
                                    padding: 0;
                                    font-family: 'Montserrat', sans-serif;
                                }
                                
                                .mail a {
                                    color: white;
                                }
                                
                                .topContainer {
                                    width: 100%;
                                    opacity: .9;
                                    background-image: url("img/headerM.jpg");
                                    background-size: cover;
                                    background-position: center center;
                                    height: 500px;
                                    font-size: 2rem;
                                    font-weight: 900;
                                    color: black;
                                }
                                
                                .section {
                                    width: 100%;
                                    height: 300px;
                                    background-color: rgba(0, 0, 0, .1);
                                    font-size: 2rem;
                                }
                                
                                .section2 {
                                    width: 100%;
                                    height: 300px;
                                    background-color: white;
                                    font-size: 2rem;
                                }
                                
                                .section3 {
                                    width: 100%;
                                    background-color: rgb(235, 235, 235);
                                    font-size: 2rem;
                                }
                                
                                .section4 {
                                    position: relative;
                                    top: 60px;
                                    width: 100%;
                                    background-color: rgb(235, 235, 235);
                                    font-size: 1.3rem;
                                    padding-bottom: 2rem;
                                }
                                
                                .section5 {
                                    position: relative;
                                    top: 100px;
                                    width: 100%;
                                    background-color: rgb(255, 255, 255);
                                    font-size: 1.3rem;
                                }
                                
                                .section6 {
                                    position: relative;
                                    top: 80px;
                                    width: 100%;
                                    height: 200px;
                                    background-color: rgb(255, 255, 255);
                                    font-size: 1.3rem;
                                }
                                
                                .projContainer {
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding: 15px;
                                    justify-content: center;
                                }
                                
                                .projContainer2 {
                                    display: flex;
                                    flex-direction: row;
                                    padding: 15px;
                                    justify-content: center;
                                    align-items: center;
                                }
                                
                                .projContainer3 {
                                    display: flex;
                                    flex-direction: row;
                                    padding: 15px;
                                    justify-content: center;
                                }
                                
                                .projContainerS {
                                    display: flex;
                                    padding: 15px;
                                    justify-content: center;
                                }
                                
                                .projects {
                                    position: relative;
                                    background-color: white;
                                    top: 80px;
                                    margin: 20px;
                                    width: 30%;
                                    padding: 9px;
                                    font-size: 1.3rem;
                                    box-shadow: 5px 5px 15px rgba(0, 0, 0, .05);
                                }
                                
                                .projects img {
                                    border: 1px solid rgba(0, 0, 0, .1);
                                }
                                
                                .projectsT img {
                                    border: 1px solid rgba(0, 0, 0, .1);
                                }
                                
                                .projectsT {
                                    position: relative;
                                    background-color: rgba(0, 0, 0, .1);
                                    top: 80px;
                                    margin: 20px;
                                    width: 30%;
                                    padding: 9px;
                                    font-size: 1.3rem;
                                    box-shadow: 5px 5px 15px rgba(0, 0, 0, .05);
                                }
                                
                                .projectsT img {
                                    width: 100%;
                                    object-fit: fill;
                                    transition: all ease-in-out .3s;
                                }
                                
                                .projects img {
                                    width: 100%;
                                    object-fit: fill;
                                    transition: all ease-in-out .3s;
                                }
                                
                                .projects #its-on {
                                    opacity: 0;
                                    width: 50px;
                                    height: 50px;
                                    position: absolute;
                                    text-align: center;
                                    padding: 5%;
                                    font-size: 2rem;
                                    transition: all ease-in-out .5s;
                                }
                                
                                .projectsT #its-on {
                                    opacity: 0;
                                    width: 50px;
                                    height: 50px;
                                    position: absolute;
                                    text-align: center;
                                    padding: 5%;
                                    font-size: 2rem;
                                    transition: all ease-in-out .5s;
                                }
                                
                                .projectsT:hover>#its-on {
                                    position: absolute;
                                    opacity: 1;
                                    color: white;
                                    text-align: center;
                                    padding: 5%;
                                    font-size: 2rem;
                                    width: 95.5%;
                                    height: 70px;
                                    background-color: rgba(0, 0, 0, .4);
                                }
                                
                                .projects:hover>#its-on {
                                    position: absolute;
                                    opacity: 1;
                                    color: white;
                                    text-align: center;
                                    padding: 5%;
                                    font-size: 2rem;
                                    width: 95.5%;
                                    height: 70px;
                                    background-color: rgba(0, 0, 0, .4);
                                }
                                
                                .projects:hover {
                                    cursor: pointer;
                                }
                                
                                .skillCol {
                                    position: relative;
                                    top: 80px;
                                    margin: 20px;
                                    width: 250px;
                                    padding: 25px;
                                    font-size: 1rem;
                                    line-height: 15px;
                                }
                                
                                .fafaCol {
                                    width: 60px;
                                    height: 60px;
                                    padding: 25px;
                                    margin: 10px;
                                    border-radius: 50%;
                                    border: 2px solid white;
                                    font-size: 1rem;
                                    transition: ease-in-out .4s;
                                }
                                
                                .fafaCol2 {
                                    width: 100px;
                                    height: 100px;
                                    position: relative;
                                    top: 100px;
                                    margin: 20px;
                                    border-radius: 50%;
                                    border: 2px solid rgb(233, 0, 0);
                                }
                                
                                .fafaCol3 {
                                    width: 100px;
                                    height: 100px;
                                    position: relative;
                                    top: 50px;
                                    margin: 20px;
                                }
                                
                                .introText {
                                    width: 800px;
                                    margin: auto;
                                    position: relative;
                                    top: 80px;
                                    line-height: 30px;
                                    text-align: left;
                                    font-size: 1.3rem;
                                }
                                
                                .intend {
                                    position: relative;
                                    top: -7px;
                                    font-weight: 900;
                                    color: rgb(233, 0, 0);
                                }
                                
                                .circle {
                                    width: 12px;
                                    height: 12px;
                                    padding: 5px;
                                    position: relative;
                                    margin-right: 5px;
                                    top: -1px;
                                    background-color: rgb(233, 0, 0);
                                    border-radius: 50%;
                                    display: inline-block;
                                }
                                
                                .techText {
                                    width: 800px;
                                    margin: auto;
                                    position: relative;
                                    top: 80px;
                                    line-height: 30px;
                                    text-align: left;
                                    font-size: 1.3rem;
                                }
                                
                                .projectsPlus {
                                    width: 800px;
                                    margin: auto;
                                    position: relative;
                                    height: 400px;
                                    top: 80px;
                                    line-height: 30px;
                                    text-align: left;
                                    font-size: 1.3rem;
                                }
                                
                                .featuredSe5 {
                                    position: relative;
                                    top: 80px;
                                    display: block;
                                    margin: auto;
                                    padding: 5px;
                                    font-size: 1.7rem;
                                    font-weight: 900;
                                    background-color: rgb(233, 0, 0);
                                    color: white;
                                    width: 220px;
                                }
                                
                                .intro {
                                    width: 30%;
                                    line-height: 60px;
                                    position: relative;
                                    left: 300px;
                                    top: 150px;
                                    color: white;
                                    font-family: 'Roboto', sans-serif;
                                }
                                
                                .mugShot img {
                                    opacity: 1;
                                    width: 250px;
                                    height: 250px;
                                    position: relative;
                                    background-color: rgba(0, 0, 0, .2);
                                    border-radius: 50%;
                                    border: 2px solid white;
                                    left: 900px;
                                    top: -3px;
                                }
                                
                                .social {
                                    position: absolute;
                                    left: 1000px;
                                    top: 60px;
                                    width: 80px;
                                }
                                
                                .folio {
                                    font-size: 1.5rem;
                                }
                                
                                .front {
                                    font-size: 4.5rem;
                                    display: inline-block;
                                    line-height: 3.8rem;
                                    padding: 1rem;
                                    background-color: rgba(0, 0, 0, .4)
                                }
                                
                                .extraSkill {
                                    font-size: 2.5rem;
                                }
                                
                                .tech {
                                    position: relative;
                                    top: 50px;
                                    display: block;
                                    margin: auto;
                                    padding: 5px;
                                    font-size: 1.5rem;
                                    font-weight: 900;
                                    background-color: rgb(233, 0, 0);
                                    color: white;
                                    width: 78px;
                                }
                                
                                .featured {
                                    position: relative;
                                    top: 50px;
                                    display: block;
                                    margin: auto;
                                    padding: 5px;
                                    font-size: 1.7rem;
                                    font-weight: 900;
                                    background-color: rgb(233, 0, 0);
                                    color: white;
                                    width: 320px;
                                }
                                
                                .other {
                                    position: relative;
                                    display: block;
                                    margin: auto;
                                    padding: 5px;
                                    font-size: 1.7rem;
                                    font-weight: 900;
                                    color: rgb(233, 0, 0);
                                    width: 320px;
                                }
                                
                                .forMore {
                                    position: relative;
                                    top: 150px;
                                    width: 100%;
                                    height: 300px;
                                    background-color: white;
                                }
                                
                                .contact {
                                    position: relative;
                                    top: 80px;
                                    width: 100%;
                                    height: 300px;
                                    background-color: gray;
                                    text-align: center;
                                }
                                
                                .contactInfo {
                                    display: inline;
                                    color: white;
                                }
                                
                                .skill {
                                    position: relative;
                                    top: 150px;
                                    width: 100%;
                                    height: 500px;
                                    background-color: rgba(0, 0, 0, .1);
                                }
                                
                                .theSkills {
                                    position: relative;
                                    top: 60px;
                                    display: block;
                                    margin: auto;
                                    padding: 5px;
                                    font-size: 1.7rem;
                                    font-weight: 900;
                                    background-color: rgb(218, 0, 0);
                                    color: white;
                                    width: 120px;
                                }
                                
                                .more {
                                    position: relative;
                                    top: 100px;
                                    display: block;
                                    margin: auto;
                                    padding: 5px;
                                    font-size: 1.7rem;
                                    font-weight: 900;
                                    background-color: rgb(233, 0, 0);
                                    color: white;
                                    width: 170px;
                                }
                                
                                .red {
                                    color: rgb(218, 0, 0);
                                }
                                
                                .white {
                                    color: white;
                                }
                                
                                .strong {
                                    font-size: 1.4rem;
                                    font-weight: 900;
                                }
                                
                                a {
                                    color: black;
                                    font-size: 1.2rem;
                                    font-weight: 700;
                                }
                                
                                .margin {
                                    display: block;
                                    width: 100%;
                                    height: 70px;
                                }
                                
                                .fafa {
                                    position: relative;
                                    top: 18px;
                                    left: 1px;
                                    font-size: 3rem;
                                    padding: 25px;
                                    color: rgb(218, 0, 0);
                                }
                                
                                .fafaF {
                                    position: relative;
                                    top: 18px;
                                    left: 0px;
                                    font-size: 3rem;
                                    padding: 25px;
                                    color: rgb(218, 0, 0);
                                }
                                
                                .fafa2 {
                                    position: relative;
                                    top: -18px;
                                    left: -13px;
                                    font-size: 2.2rem;
                                    color: white;
                                    transition: ease-in-out .4s;
                                }
                                
                                .fafa2:hover {
                                    color: black;
                                }
                                
                                .stroke {
                                    position: relative;
                                    top: 20px;
                                    left: 22px;
                                    transition: ease-in-out .4s;
                                }
                                
                                .stroke:hover {
                                    opacity: .5;
                                }
                                
                                .stroke2 {
                                    position: relative;
                                    top: 15px;
                                    left: 18px;
                                    transition: ease-in-out .4s;
                                }
                                
                                .stroke2:hover {
                                    opacity: .5;
                                }
                                
                                .stroke3 {
                                    position: relative;
                                    top: 11px;
                                    left: 16px;
                                    transition: ease-in-out .4s;
                                }
                                
                                .stroke3:hover {
                                    opacity: .5;
                                }
                                
                                .tags {
                                    font-size: .8rem;
                                    display: inline;
                                    background-color: pink;
                                    margin-right: 7px;
                                    padding: 3px;
                                }
                                
                                a {
                                    text-decoration: none;
                                }
                                
                                @media (max-width:1000px) {
                                    .topContainer {
                                        width: 100%;
                                        height: 460px;
                                        background-color: rgba(0, 0, 0, .2);
                                    }
                                    .intro {
                                        display: inline;
                                        color: white;
                                        background-color: rgba(0, 0, 0, .4);
                                        letter-spacing: 2px;
                                        line-height: 40px;
                                        position: relative;
                                        left: 50px;
                                        top: 120px;
                                    }
                                    .introText {
                                        width: 80%;
                                        margin: auto;
                                        position: relative;
                                        top: 80px;
                                        line-height: 30px;
                                        text-align: left;
                                        font-size: 1rem;
                                    }
                                    .techText {
                                        width: 80%;
                                        margin: auto;
                                        position: relative;
                                        top: 80px;
                                        line-height: 30px;
                                        text-align: left;
                                        font-size: 1.3rem;
                                    }
                                    .projectsPlus {
                                        width: 80%;
                                        margin: auto;
                                        position: relative;
                                        height: 400px;
                                        top: 20px;
                                        line-height: 30px;
                                        text-align: left;
                                        font-size: 1.3rem;
                                    }
                                    .section4 {
                                        position: relative;
                                        top: 40px;
                                        width: 100%;
                                        height: 450px;
                                        background-color: rgb(235, 235, 235);
                                        font-size: 1.3rem;
                                    }
                                    .section5 {
                                        position: relative;
                                        top: 120px;
                                        width: 100%;
                                        background-color: rgb(255, 255, 255);
                                        font-size: 1.3rem;
                                    }
                                    .mugShot img {
                                        width: 150px;
                                        height: 150px;
                                        position: relative;
                                        background-color: rgba(0, 0, 0, .2);
                                        border-radius: 50%;
                                        border: 2px solid white;
                                        left: 220px;
                                        top: 145px;
                                    }
                                    .social {
                                        position: absolute;
                                        left: 210px;
                                        top: 0px;
                                        width: 100px;
                                    }
                                    .fafaCol {
                                        width: 40px;
                                        height: 40px;
                                        padding: 25px;
                                        margin: 10px;
                                        border-radius: 50%;
                                        border: 2px solid white;
                                        font-size: 1rem;
                                    }
                                    .fafaCol2 {
                                        width: 60px;
                                        height: 60px;
                                        border-radius: 50%;
                                        border: 2px solid red;
                                        position: relative;
                                        top: 100px;
                                        margin: 20px;
                                    }
                                    .fafaCol3 {
                                        width: 60px;
                                        height: 60px;
                                        position: relative;
                                        top: 80px;
                                        margin: 20px;
                                    }
                                    .fafa {
                                        position: relative;
                                        top: 10px;
                                        left: -11px;
                                        font-size: 2rem;
                                        color: rgb(218, 0, 0);
                                    }
                                    .fafa2 {
                                        position: relative;
                                        top: -20px;
                                        left: -15px;
                                        font-size: 2.2rem;
                                        color: white;
                                    }
                                    .projects {
                                        position: relative;
                                        top: 80px;
                                        margin: auto;
                                        width: 350px;
                                        padding: 25px;
                                        font-size: 1.3rem;
                                        background-color: rgb(255, 255, 255);
                                    }
                                    .projects img {
                                        width: 310px;
                                    }
                                    .projectsT {
                                        position: relative;
                                        background-color: rgba(0, 0, 0, .1);
                                        top: 80px;
                                        margin: auto;
                                        width: 350px;
                                        padding: 25px;
                                        font-size: 1.3rem;
                                        box-shadow: 5px 5px 15px rgba(0, 0, 0, .05);
                                    }
                                    .projectsT img {
                                        width: 310px;
                                        object-fit: fill;
                                        transition: all ease-in-out .3s;
                                    }
                                    .projContainer {
                                        display: flex;
                                        width: 80%;
                                        flex-direction: column;
                                        padding: 15px;
                                        justify-content: center
                                    }
                                    .projContainer2 {
                                        display: flex;
                                        flex-direction: row;
                                        padding: 15px;
                                        justify-content: center;
                                    }
                                    .projContainer3 {
                                        display: flex;
                                        flex-direction: row;
                                        flex-wrap: wrap;
                                        width: 100%;
                                        justify-content: center;
                                    }
                                    .skill {
                                        height: 750px;
                                        width: 100%;
                                        background-color: rgba(0, 0, 0, .1);
                                    }
                                    .skillCol {
                                        position: relative;
                                        top: 80px;
                                        margin: 10px;
                                        width: 40%;
                                        font-size: 1rem;
                                        line-height: 15px;
                                    }
                                    .more {
                                        position: relative;
                                        top: 100px;
                                        display: block;
                                        margin: auto;
                                        padding: 5px;
                                        font-size: 1.7rem;
                                        font-weight: 900;
                                        background-color: rgb(233, 0, 0);
                                        color: white;
                                        width: 170px;
                                    }
                                    .projContainerS {
                                        display: flex;
                                        padding: 15px;
                                        justify-content: center
                                    }
                                    .featuredSe5 {
                                        position: relative;
                                        top: 50px;
                                        display: block;
                                        margin: auto;
                                        padding: 5px;
                                        font-size: 1.7rem;
                                        font-weight: 900;
                                        background-color: rgb(233, 0, 0);
                                        color: white;
                                        width: 250px;
                                    }
                                    .folio {
                                        font-size: 1rem;
                                    }
                                    .front {
                                        font-size: 2.5rem;
                                    }
                                    .extraSkill {
                                        font-size: 1rem;
                                    }
                                    .stroke {
                                        width: 30px;
                                        position: relative;
                                        top: 13px;
                                        left: 14px;
                                    }
                                    .stroke2 {
                                        width: 30px;
                                        position: relative;
                                        top: 13px;
                                        left: 13px;
                                    }
                                    .stroke3 {
                                        width: 30px;
                                        position: relative;
                                        top: 13px;
                                        left: 13px;
                                    }
                                    .red {
                                        font-size: 1rem;
                                        color: rgb(218, 0, 0);
                                    }
                                }